* {
    margin: 0px;
    padding 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;

}

header {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.logo-container,
nav-links {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    color: darkgray;
    font-size: 22px;
    text-decoration: none;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}


.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 50px;
    font-weight: 500;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
}

.cta {
    padding: 50px 0px 0px 0px;
}


.cta-select {
    border: 2px solid;
    color: darkgray;
    background: transparent;
    color: darkgray;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.cover {
    flex: 1;
}

.cover img {
    height: 60vh;
}



.circle3 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50%;
}


.circle {
    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 50%;
    z-index: -1;